<div class="d-flex justify-content-center">
  <div class="col-8">
    <form #form="ngForm" name="editForm" role="form" novalidate (ngSubmit)="save()">
      <h2 id="jhi-client-heading" data-cy="ClientCreateUpdateHeading" jhiTranslate="registroDeVendasApp.client.home.createOrEditLabel">
        Criar ou editar Client
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (client.id) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input [ngModel]="client.id" #id type="number" class="form-control" name="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="registroDeVendasApp.client.code" for="field_code">Code</label>
          <input
            [(ngModel)]="client.code"
            #code="ngModel"
            type="text"
            class="form-control"
            name="code"
            [required]="true"
            [minlength]="1"
            [maxlength]="255"
          />
          @if (code.invalid && (code.dirty || code.touched)) {
            <div>
              @if (code.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (code.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }"
                  >Este campo deve ter pelo menos 1 caracteres.</small
                >
              }
              @if (code.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }"
                  >Este campo não pode ter mais de 255 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="registroDeVendasApp.client.firstName" for="field_firstName">First Name</label>
          <input
            [(ngModel)]="client.firstName"
            #firstName="ngModel"
            type="text"
            class="form-control"
            name="firstName"
            [required]="true"
            [minlength]="1"
            [maxlength]="255"
          />
          @if (firstName.invalid && (firstName.dirty || firstName.touched)) {
            <div>
              @if (firstName.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (firstName.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }"
                  >Este campo deve ter pelo menos 1 caracteres.</small
                >
              }
              @if (firstName.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }"
                  >Este campo não pode ter mais de 255 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="registroDeVendasApp.client.secondName" for="field_secondName">Second Name</label>
          <input
            [(ngModel)]="client.secondName"
            #secondName="ngModel"
            type="text"
            class="form-control"
            name="secondName"
            [required]="true"
            [minlength]="1"
            [maxlength]="255"
          />
          @if (secondName.invalid && (secondName.dirty || secondName.touched)) {
            <div>
              @if (secondName.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (secondName.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }"
                  >Este campo deve ter pelo menos 1 caracteres.</small
                >
              }
              @if (secondName.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }"
                  >Este campo não pode ter mais de 255 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="registroDeVendasApp.client.birthday" for="field_birthday">Birthday</label>
          <div class="input-group">
            <input [(ngModel)]="client.birthday" #birthday="ngModel" type="date" class="form-control" name="birthday" [required]="true" />
          </div>
          @if (birthday.invalid && (birthday.dirty || birthday.touched)) {
            <div>
              @if (birthday.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="registroDeVendasApp.client.cpf" for="cpf">CPF</label>
          <input
            [(ngModel)]="client.cpf"
            #cpf="ngModel"
            type="text"
            class="form-control"
            name="cpf"
            [required]="true"
            [minlength]="1"
            [maxlength]="255"
          />
          @if (cpf.invalid && (cpf.dirty || cpf.touched)) {
            <div>
              @if (cpf.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              @if (cpf.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }"
                  >Este campo deve ter pelo menos 1 caracteres.</small
                >
              }
              @if (cpf.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }"
                  >Este campo não pode ter mais de 255 caracteres.</small
                >
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="form.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
