<div>
  <h2 id="page-heading" data-cy="SellersWhoSoldMostProductsViewHeading">
    <span jhiTranslate="registroDeVendasApp.sellersWhoSoldMostProductsView.home.title">Sellers Who Sold Most Products Views</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="registroDeVendasApp.sellersWhoSoldMostProductsView.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sellers-who-sold-most-products-view"
        [routerLink]="['/sellers-who-sold-most-products-view/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="registroDeVendasApp.sellersWhoSoldMostProductsView.home.createLabel"
          >Criar novo Sellers Who Sold Most Products View</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (sellersWhoSoldMostProductsViews?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="registroDeVendasApp.sellersWhoSoldMostProductsView.home.notFound"
        >Nenhum Sellers Who Sold Most Products View encontrado</span
      >
    </div>
  }

  @if (sellersWhoSoldMostProductsViews && sellersWhoSoldMostProductsViews.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity">
              <div class="d-flex">
                <span jhiTranslate="registroDeVendasApp.sellersWhoSoldMostProductsView.quantity">Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="position">
              <div class="d-flex">
                <span jhiTranslate="registroDeVendasApp.sellersWhoSoldMostProductsView.position">Position</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="seller.id">
              <div class="d-flex">
                <span jhiTranslate="registroDeVendasApp.sellersWhoSoldMostProductsView.seller">Seller</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (sellersWhoSoldMostProductsView of sellersWhoSoldMostProductsViews; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/sellers-who-sold-most-products-view', sellersWhoSoldMostProductsView.id, 'view']">{{
                  sellersWhoSoldMostProductsView.id
                }}</a>
              </td>
              <td>{{ sellersWhoSoldMostProductsView.quantity }}</td>
              <td>{{ sellersWhoSoldMostProductsView.position }}</td>
              <td>
                @if (sellersWhoSoldMostProductsView.seller) {
                  <div>
                    <a [routerLink]="['/collaborator', sellersWhoSoldMostProductsView.seller.id, 'view']">{{
                      sellersWhoSoldMostProductsView.seller.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/sellers-who-sold-most-products-view', sellersWhoSoldMostProductsView.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/sellers-who-sold-most-products-view', sellersWhoSoldMostProductsView.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(sellersWhoSoldMostProductsView)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (sellersWhoSoldMostProductsViews && sellersWhoSoldMostProductsViews.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
