<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (person) {
      <div>
        <h2 data-cy="personDetailsHeading"><span jhiTranslate="registroDeVendasApp.person.detail.title">Person</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ person.id }}</span>
          </dd>
          <dt><span jhiTranslate="registroDeVendasApp.person.firstName">First Name</span></dt>
          <dd>
            <span>{{ person.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="registroDeVendasApp.person.secondName">Second Name</span></dt>
          <dd>
            <span>{{ person.secondName }}</span>
          </dd>
          <dt><span jhiTranslate="registroDeVendasApp.person.birthday">Birthday</span></dt>
          <dd>
            <span>{{ person.birthday | formatMediumDate }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/person', person.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
