<div>
  <h2 id="page-heading" data-cy="SellersWhoEarnedMostViewHeading">
    <span jhiTranslate="registroDeVendasApp.sellersWhoEarnedMostView.home.title">Sellers Who Earned Most Views</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="registroDeVendasApp.sellersWhoEarnedMostView.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sellers-who-earned-most-view"
        [routerLink]="['/sellers-who-earned-most-view/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="registroDeVendasApp.sellersWhoEarnedMostView.home.createLabel">Criar novo Sellers Who Earned Most View</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (sellersWhoEarnedMostViews?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="registroDeVendasApp.sellersWhoEarnedMostView.home.notFound">Nenhum Sellers Who Earned Most View encontrado</span>
    </div>
  }

  @if (sellersWhoEarnedMostViews && sellersWhoEarnedMostViews.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="value">
              <div class="d-flex">
                <span jhiTranslate="registroDeVendasApp.sellersWhoEarnedMostView.value">Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="position">
              <div class="d-flex">
                <span jhiTranslate="registroDeVendasApp.sellersWhoEarnedMostView.position">Position</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="seller.id">
              <div class="d-flex">
                <span jhiTranslate="registroDeVendasApp.sellersWhoEarnedMostView.seller">Seller</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (sellersWhoEarnedMostView of sellersWhoEarnedMostViews; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/sellers-who-earned-most-view', sellersWhoEarnedMostView.id, 'view']">{{
                  sellersWhoEarnedMostView.id
                }}</a>
              </td>
              <td>{{ sellersWhoEarnedMostView.value }}</td>
              <td>{{ sellersWhoEarnedMostView.position }}</td>
              <td>
                @if (sellersWhoEarnedMostView.seller) {
                  <div>
                    <a [routerLink]="['/collaborator', sellersWhoEarnedMostView.seller.id, 'view']">{{
                      sellersWhoEarnedMostView.seller.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/sellers-who-earned-most-view', sellersWhoEarnedMostView.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/sellers-who-earned-most-view', sellersWhoEarnedMostView.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(sellersWhoEarnedMostView)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (sellersWhoEarnedMostViews && sellersWhoEarnedMostViews.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
